/*font-family: 'Open Sans', sans-serif;
font-family: 'Orbitron', sans-serif;*/
:root {
    --primary-font-color: #bcbbbe;
    --secondary-font-color: #b9ea8e;
    --heading-font: 'Orbitron', sans-serif;
    --default-font: 'Open Sans', sans-serif;
}

body {
    background: #282726;
    color: var(--primary-font-color);
    text-align: center;
    margin: 30px auto;
    font-family: var(--default-font);
    max-width: 1200px;
}

header h1, h2 {
    color: var(--secondary-font-color);
    margin: 0;
    font-family: var(--heading-font);
}

h2 {
    position: relative;
    left: 100px;
}

main {
    margin: 100px 0 40px;
}

img {
    width: 500px;
    box-shadow: -59px -31px 5px 4px rgba(0, 0, 0, 0.2);

}

.fa-quote-left {
    float: left;
    font-size: 50px;
}

.quote {
    display: block;
    clear: both;
    margin: 100px 0 50px;
    font-style: italic;
}

.fa-quote-right {
    float: right;
    font-size: 50px;
}

.bio {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

a:link {
    color: var(--secondary-font-color);
}

a:visited {
    color: #355c14;
}